
{% extends 'sculptures/base.html' %}

{% block title %} Новости {% endblock title %}

{% load static %}

{% block content %}

    <section class="mbr-section article content9 cid-rUKd4eCwpu" id="content9-2o">
        <div class="container">
            <div class="inner-container" style="width: 100%;">
                <hr class="line" style="width: 25%;">
                <div class="section-text align-center mbr-fonts-style display-2">Новости</div>
                <hr class="line" style="width: 25%;">
            </div>
        </div>
    </section>

    <section class="services4 cid-rX4c3bAdFg" id="services4-4a">
        <div class="container">
            <div class="row">

                {% for item in news_list %}

                    <div class="card p-3 col-12">
                        <div class="card-wrapper media-container-row media-container-row">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <div class="wrapper">
                                            <!--Image-->
                                            <div class="mbr-figure" style="width: 100%;">
                                                <img src="{{ item.image.url }}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-7 col-lg-4">
                                        <div class="wrapper col-left">
                                            <!--Title-->
                                            <h4 class="card-title mbr-fonts-style display-5">
                                                {{ item.title }}
                                            </h4>
                                            <!--Subtitle-->
                                            <p class="mbr-text mbr-fonts-style pt-3 display-7">
                                                {{ item.text|safe }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5 col-lg-4">
                                        <div class="wrapper border_wrapper">
                                            <!--Cost-->
                                            <p class="mbr-text mbr-fonts-style col-right mbr-black align-center display-6">
                                                {{ item.year }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>

{% endblock content %}